
body {
  background-color: #adedc9;
}

a {

}

.container {
  width: 80%;
  margin: 0 auto;
}

.new-form {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.edit-delete-button {
  display: inline-block;
}

.souvenir-container {
  border: 2px solid #000;
  border-radius: 10px;
  padding-bottom: 10px;
  background-color: #7db7ed;
}

.page-title {
  text-align: center;
}

.page-link {
  text-decoration: none;
  color: #1c4434;
}

.page-link:hover {
  text-transform: uppercase;
  color: #4245f4;
}

.nav {
  font-size: 2em;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  clear: both;
}

.featured-edit {
  border: 2px solid #000;
  margin: 0 auto;
  background-color: #7db7ed;
  width: 80%;
  height: 100%;
  text-align: center;
  border-radius: 10px;
}

.signup {
  font-size: 2em;
  text-align: center;
  padding: 20px;
  background-color: #7db7ed;
  border: 2px solid black;
  border-radius: 10px;
}

.my-souvenir {
  font-size: 1.5em;
  background-color: #7db7ed;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 10px;
}

#edit-form {
  height: 100%;
}
