
body {
  background-color: #adedc9;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.new-form {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.edit-delete-button {
  text-align: center;
}

.souvenir-container {
  border: 2px solid #000;
  border-radius: 10px;
  padding-bottom: 10px;
  background-color: #7db7ed;
}

.page-title {
  text-align: center;
}

.page-link {
  text-decoration: none;
  color: #1c4434;
}

.page-link:hover {
  text-transform: uppercase;
  color: #4245f4;
}

.nav {
  font-size: 2em;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  clear: both;
}

.featured-edit {
  float: left;
  margin: 0 10%;
  width: 30%;
}

.my-souvenirs {


}

.my-souvenir {
  font-size: 1.5em;
  background-color: #7db7ed;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 10px;
}
