<h1 class="page-title">Sign Up for Souvenir Case!</h1>

<div class="signup">
  <form method="post" action="/signup">

    <p><label for="username">Username:</label></p>
    <input id="username" name="username" type="text" />

    <p><label for="password">Password:</label></p>
    <input id="password" name="password" type="text" />

    <br></br>

    <input type="submit" value="Sign Up" />

  </form>
</div>
