<% if flash.has?(:message) %>
  <h1><%= flash[:message] %></h1>
<% end %>


<div class="nav">
  <p><a class="page-link" href="/my_souvenirs">Check out MY souvenirs</a></p>

  <a class="page-link" href="/souvenirs">Back to ALL Souvenirs</a>

  <p><a class="page-link" href="/logout">Log Out</a></p>
</div>
