
<div class="flash-message">
  <% if flash.has?(:message) %>
    <h1><%= flash[:message] %></h1>
  <% end %>
</div>


<% if Helpers.is_logged_in?(session) %>
  <div class="nav">
    <p><a class="page-link" href="/my_souvenirs">Check out MY souvenirs</a></p>

    <a class="page-link" href="/souvenirs">Back to ALL Souvenirs</a>

    <p><a class="page-link" href="/logout">Log Out</a></p>
  </div>
<% end %>

<% if !Helpers.is_logged_in?(session) %>
  <div class=featured-edit>
    <form method="post" action="/login">

       <h3><label for="username">Username:</label></h3>
      <input id="username" name="username" type="text" />

      <h3><label for="password">Password:</label></h3>
      <input id="password" name="password" type="text" />

      <p><input type="submit" id="submit" value="Log In" /></p>

    </form>

    <p>OR</p>

    <p><a class="page-link" href="/signup">Sign Up</a></p>
  </div>
<% end %>
