<h1 class="page-title">Welcome to Souvenir Case</h1>

<div class="signup">
  <p><a class="page-link" href="/login">Login</a></p>

  <p>or</p>

  <p><a class="page-link" href="/signup">Sign Up</a></p>
</div>
