<h1 class="page-title">Log In to Souvenir Case</h1>

<div class=featured-edit>
  <form method="post" action="/login">

     <h3><label for="username">Username:</label></h3>
    <input id="username" name="username" type="text" />

    <h3><label for="password">Password:</label></h3>
    <input id="password" name="password" type="text" />

    <input type="submit" id="submit" value="Log In" />

  </form>
</div>
