<h1 class="page-title">Add a souvenir with this form:</h1>

<form method="post" action="/souvenirs/new">

  <h3><label for="name">Name:</label></h3>
  <input id="name" name="name" type="text" />

  <h3><label for="name">Source:</label></h3>
  <input id="source" name="source" type="text" />

  <h3><label for="name">Year Obtained:</label></h3>
  <input id="year_obtained" name="year_obtained" type="text" />

  <h3><label for="name">Description:</label></h3>
  <input id="description" name="description" type="text" />

  <br></br>

  <input type="submit" value="Submit" />

</form>

<div class="nav">
  <p class="page-link"><a href="/my_souvenirs">Check out MY souvenirs</a></p>

  <a class="page-link" href="/souvenirs">Back to ALL Souvenirs</a>

  <p><a class="page-link" href="/logout">Log Out</a></p>
</div>
